header {
    
    background-color: #fff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2   );
    padding: 10px 20px 5px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    width: 100vw;
    right: 0%;
    z-index: 1;
    height: 70px;
  }
  
  .logo {
    margin-left: 50px;
      width: auto;
      height: 60px;
      cursor: pointer;
      transition: transform 0.3s ease;
  }
  
  .logo:hover {
    transform: scale(1.1);
  }
  
  .login-button {
    height: auto;
    background-color: #AD272E;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 12px;
    cursor: pointer;
    transition: transform 0.3s ease;
  }
  
  .login-button:hover {
    background-color: #AD272E;
    transform: scale(1.05);
  }
  
