<div class="contenedorPrincipal">
    <app-navbar (eventosClick)="mostrarEventos()" (validacionClick)="mostrarValidacion()"
        (firmasClick)="mostrarFirmas()">
    </app-navbar>

    <div class="container_botones">
        <div>
            <h1>Usuarios</h1>
        </div>
        
        <div class="Tabs">
            <!--<app-eventos class="usuariosBtn"></app-eventos>-->
            <button type="button" class="btnParticipantes btn btn-primary">Participantes</button>
            <button type="button" class="btnCertificados btn btn-primary"(click)="mostrarcertificados()">Certificados</button>
        </div>

        <div class="botones">
            <form class="form-search">
                <div class="form-search__input input-group"> 
                  <input [(ngModel)]="filtroCedula" class="form-control" placeholder="Buscar por Cedula" name="searchCedula">
                <button class="btn" (click)="filtrarCedula()">
                    <svg xmlns="http://www.w3.org/2000/svg" height="16" width="16" viewBox="0 0 512 512"><!--!Font Awesome Free 6.5.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2023 Fonticons, Inc.--><path d="M416 208c0 45.9-14.9 88.3-40 122.7L502.6 457.4c12.5 12.5 12.5 32.8 0 45.3s-32.8 12.5-45.3 0L330.7 376c-34.4 25.2-76.8 40-122.7 40C93.1 416 0 322.9 0 208S93.1 0 208 0S416 93.1 416 208zM208 352a144 144 0 1 0 0-288 144 144 0 1 0 0 288z"/></svg>
                </button>
                 </div>
            </form>
            
            <div class="botonesAccion">
                    
                <button type="button" class="btn btn-agregar" (click)="descargarplantilla()">
                    <i class="fa-solid fa-file"></i> Plantilla
                </button>
                <a #downloadLink style="display: none"></a>
                
                <button type="button" class="btn btn-agregar" (click)="AgregarEstudiante()">
                    <i class="fa-solid fa-user-plus"></i> Agregar
                </button>
                <button type="button" class="btn btn-importar" (click)="importarArchivo()">
                    <i class="fa-solid fa-upload"></i> Importar
                </button>
            </div>
        </div>

    </div>

    <div class="container-tabla">
        <div *ngIf="participantes.length > 0">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Cedula</th>
                        <th>Nombre</th>
                        <th>Correo</th>
                        <th>Telefono</th>
                        <th>Accion</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let participante of participantes; let i = index">
                        <td>{{ participante.cedula }}</td>
                        <td>{{ participante.nombre_apellido }}</td>
                        <td>{{ participante.correo }}</td>
                        <td>{{ participante.celular }}</td>
                        <td>
                            <div class="botonesTabla">
                                
                                <button type="button" class="delete-btn btn btn-primary"
                                    (click)="eliminarParticipanteLocal(participante)">
                                    <i class="fa-solid fa-trash"></i> 
                                    <!--Eliminar-->
                                    {{ participante.id }} <!-- Agregar esta línea para mostrar el ID -->
                                </button>
                            </div>
                        </td>

                    </tr>   
                </tbody>
            </table>
        </div>
    </div>
    <input type="file" #fileInput style="display: none" (change)="onFileSelected($event)">

</div>