<div class="contenedorPrincipal">
    <div class="titulo">
        <h1>
            SisTech
        </h1>
        <p>
        Conectando ideas. Construyendo futuro.
        </p>
    </div>
    <div class="visionSisTech">
        <div class="logoSisTech">
            <img src="../../../assets/images/SisTechLogo.svg" alt="">
        </div>
        <p>
            Creemos en la sinergia del trabajo en equipo. En SisTech, todos aportamos nuestras habilidades y conocimientos únicos para formar un equipo cohesionado y diverso. Nuestra colaboración es el motor que impulsa nuestras soluciones a nuevos niveles de excelencia. Trabajamos en estrecha colaboración con nuestros clientes, escuchando sus necesidades y aspiraciones, y creando soluciones que superan sus expectativas.
        </p>
    </div>
    <div class="trabajosAnteriores">
        <h2>Nuestros clientes</h2>
        <div class="logosProyectos">
            <div class="proyecto">
                <img src="../../../assets/images/WorkSearch.svg" alt="">
                <p>WorkSearch</p>
            </div>
            <div class="proyecto">
                <img src="../../../assets/images/MikuySearch.png" alt="">
            </div>
            <div class="proyecto">
                <img src="../../../assets/images/SkyLine.svg" alt="">
                <p>Skyline</p>
            </div>
            <div class="proyecto">
                <img src="../../../assets/images/DasBlog.svg" alt="">
            </div>
        </div>
    </div>
    
</div>
