.navbar {
    background-color: #fff !important;
    height: 70px;
}

.navbar-toggler{
    transition: transform 0.3s ease;
}

.navbar-toggler:hover{
    background-color: #AD272E;
    transform: scale(1.05);
    color: #ECF2FF !important;
}

.navbar-toggler span i{
    color:#AD272E;
    font-size: 28px;
}

.navbar-toggler span i:hover{
    color: #ECF2FF;
    box-shadow: none;
    transform: scale(1);
}

.btn {
    background-color: #AD272E;
    color: #ECF2FF;
    border-radius: 10px;
    transition: transform 0.3s ease;
}

.btn:hover {
    transform: scale(1.05);
    background-color: #621C19;
    color: #ECF2FF;
}

.logo {
    width: 15vw;
    height: auto;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.offcanvas{
    background-color: #434343!important;
    max-width: 50vw;
}

.btn-link {
    color: #fff;
    width: 90%;
    margin: 10px 30px 10px 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-family: HonorSans-Medium;
    font-size: 24px;
}

.btn-link i{
    font-size: 32px;
    margin-right: 20px;
}