<div class="login-container">
  <app-navbar
    (eventosClick)="mostrarEventos()"
    (validacionClick)="mostrarValidacion()"
    (firmasClick)="mostrarFirmas()">
  </app-navbar>
  
  <div class="login-form-container">
    <div class="titulo">
      <label class="bienvenido" for="nomevent">
        <h1>{{ isEditing ? 'Editar' : 'Agregar' }} Firmas</h1>
      </label>
    </div>
     <form class="login-form">
      <div class="form-group">
        <label for="propietario">Propietario:</label>
        <input type="text" id="propietario" name="propietario" [(ngModel)]="nuevaFirma.propietario_firma" placeholder="Ingrese el propietario">
      </div>
      
      <div class="form-group">
        <label for="cargo">Cargo:</label>
        <input type="text" id="cargo" name="cargo" [(ngModel)]="nuevaFirma.cargo_propietario" placeholder="Ingrese el cargo">
      </div>
      
      <div class="form-group">
        <label for="firma">Firma:</label>
        <input type="file" id="firma" name="firma" (change)="onFirmaSelected($event)" accept="image/*">
      </div>

      <div class="form-group">
        <label for="estado">Estado:</label>
        <select id="estado" name="estado" [(ngModel)]="nuevaFirma.estado_firma">
          <option value="Activo">Activo</option>
          <option value="Inactivo">Inactivo</option>
        </select>
      </div>
      
      <div class="form-group formBtn">
        <button type="button" style="background-color: #AD272E; color: #fff;" (click)="agregarOEditarEvento()">
          <i class="fas fa-save"></i> Guardar
        </button>
        <button type="button" style="background-color: #AD272E; color: #fff;" (click)="cancelar()">
          <i class="fas fa-times"></i> Cancelar
        </button>
      </div>
      
    </form>
  </div>
</div>
