<div class="container">
    <app-navbar (eventosClick)="mostrarEventos()" (validacionClick)="mostrarValidacion()"
        (firmasClick)="mostrarFirmas()">
    </app-navbar>

    <div>
        <h2>Cargar Archivo CSV</h2>
        <input type="file" (change)="csvImport($event)">
    </div>

    <div *ngIf="users.length > 0">
        <h2>Usuarios</h2>
        <table class="table">
            <thead>
                <tr>
                    <th>Cedula</th>
                    <th>Nombre</th>
                    <th>Celular</th>
                    <th>Correo</th>
                   
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let user of users">
                    <td>{{ user.cedula }}</td>
                    <td>{{ user.nombre_apellido }}</td>
                    <td>{{ user.celular }}</td>
                    <td>{{ user.correo }}</td>
                    
                    
    
                </tr>
            </tbody>
        </table>

        <button (click)="importarDatos()">Importar</button>
    </div>