<div class="login-form-container">
    <label class="bienvenido" for="nomevent"><h1>Agregar Estudiante</h1></label>
    <form class="login-form">
     
      <div class="form-group">
        <label for="nomevent">Cedula:</label>
        <input type="text" id="cedula" name="nomevent" [(ngModel)]="cedula" placeholder="Ingrese numero de cedula">
      </div>

      <div class="form-group">
        <label for="tipo">Nombre:</label>
        <input type="text" id="nombre" name="nombre" [(ngModel)]="nombre" placeholder="Ingrese nombre completo">
      </div>
      <div class="form-group">
        <label for="tipo">Telefono:</label>
        <input type="text" id="telefono" name="telefono" [(ngModel)]="telefono" placeholder="Ingrese numero telefonico">
      </div>
      <div class="form-group">
        <label for="descripcion">Correo electronico:</label>
        <input type="email" id="correo" name="correo" [(ngModel)]="correo" placeholder="Ingrese el correo electronico">
      </div>
      <br><br>
      <div class="form-group formBtn">
        <button type="submit" style="background-color: #AD272E; color: #fff;" (click)="guardar()">Guardar</button>
        <button type="submit" style="background-color: #AD272E; color: #fff;" (click)="cancelar() ">Cancelar</button>
      </div>

    </form>
  </div>
