
.container {
    width: 100vw;
    min-height: calc(100vh -70px);
    margin-top: 10%;
    padding-top: 40px;
    padding-bottom: 20px;
}



.container_botones {
    display: flex;
    flex-direction: column;
}

.Tabs{
    display: flex;
    flex-direction: row;
    background-color: #ecf2ff;
    border-radius: 15px;
    width: 430px;
}

.Tabs .btn{
    width: 200px;
    border-radius: 10px;
    border: none !important;
}

.btnParticipantes{
    margin: 10px;
    background: #190482;
}

.btnParticipantes:hover{
    background-color: #190482;
}

.btnCertificados{
    margin-top: 40px;
    margin-bottom: 10px;
    background-color: #fff;
    color: #190482;
}

.btnCertificados:hover{
    background-color: #190482;
    color: #fff;
}

.form-search__input{
    border: 1px solid #a0a0a0;
    border-radius: 10px;
    width: 30vw;
}

.botones{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.btn-agregar, 
.btn-importar{
    background-color: #190482;
    color: #fff;
    margin-left: 10px;
    border-radius: 10px;
    width: 150px;
    transition: transform 0.3s ease;
}

.btn-agregar:hover, 
.btn-importar:hover{
    background-color: #8361fe;
    color: #fff;
    transform: scale(1.05);
}

/* Estilos para la tabla */
.container-tabla {
    margin-top: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

