<div class="contenedorPrincipal">

    <div class="encabezado">
        <h1>Términos y Condiciones - Certificaciones</h1>
        <p>Última actualización: Enero 08 del año 2024</p>
    </div>

    <div class="contenido">
        <div>
            <h2>1. Introducción y Aceptación</h2>
            <p>Al acceder y utilizar nuestras certificaciones, usted acepta cumplir con los siguientes términos y
                condiciones.</p>

            <h2>2. Definiciones</h2>
            <p>En estos términos, "Certificaciones" se refiere a la creacion de ceertificados digitalles que seran
                mostrados
                pra cualquier persona y tendran la capacidad de ser validados</p>

            <h2>3. Uso Aceptable</h2>
            <p>Usted se compromete a utilizar nuestras certificaciones de acuerdo con todas las leyes y regulaciones
                aplicables.</p>

            <h2>4. Registro y Cuentas de Usuario</h2>
            <p>Para acceder a ciertas certificaciones, puede ser necesario registrar una cuenta de usuario. Usted es
                responsable de mantener la confidencialidad de su información de cuenta.</p>

            <h2>5. Propiedad Intelectual</h2>
            <p>Todo el contenido y materiales relacionados con nuestras certificaciones son propiedad exclusiva de [Tu
                Empresa].</p>

            <h2>6. Manejo de Datos Personales</h2>
            <p>Nos comprometemos a proteger su privacidad y manejar sus datos personales de acuerdo con nuestra <a
                    href="#politica-privacidad">Política de Privacidad</a>.</p>

            <h2>7. Limitaciones de Responsabilidad</h2>
            <p>En ningún caso seremos responsables por daños indirectos, incidentales, especiales, consecuentes o
                punitivos.
            </p>

            <h2>8. Modificaciones</h2>
            <p>Nos reservamos el derecho de actualizar, modificar o cambiar los términos y condiciones en cualquier
                momento.
                Las modificaciones entrarán en vigencia inmediatamente después de su publicación.</p>

                
            </div>
            
            
            <div>
                <h2>9. Resolución de Disputas</h2>
                <p>Cualquier disputa relacionada con estas certificaciones se resolverá mediante negociación de buena fe. Si
                    no
                    se puede llegar a un acuerdo, las partes acuerdan someterse a mediación antes de recurrir a acciones
                    legales.</p>
                <p>
                Creemos en la sinergia del trabajo en equipo. En SisTech, todos aportamos nuestras habilidades y
                conocimientos únicos para formar un equipo cohesionado y diverso. Nuestra colaboración es el motor que
                impulsa nuestras soluciones a nuevos niveles de excelencia. Trabajamos en estrecha colaboración con
                nuestros
                clientes, escuchando sus necesidades y aspiraciones, y creando soluciones que superan sus expectativas.
            </p>
            <h2>10. Leyes Aplicables</h2>
            <p>Estos términos y condiciones se regirán e interpretarán de acuerdo con las leyes del [Tu País o Región].
            </p>

            <h2>11. Disposiciones Generales</h2>
            <p>La renuncia a cualquier disposición de estos términos no se considerará una renuncia adicional o
                continuada
                de esa disposición ni de ninguna otra disposición.</p>

            <h2>12. Información de Contacto</h2>
            <p>Para cualquier pregunta sobre estos términos y condiciones, puede ponerse en contacto con nosotros en:
            </p>
            <p>Dirección: Unniversidad Tecnica de ambato</p>
            <p>Correo electrónico: certechuta.edu.ec</p>
            <div class="visionSisTech">
                <div class="logoSisTech">
                    <img src="../../../assets/images/SisTechLogo.svg" alt="">
                    <img src="../../../assets/images/CerTech_Logo.svg" alt="">
                </div>
        </div>
    </div>


    </div>